doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title
  body
    h1= actionTitle
    form(action="", method="POST")
      label(for="username") Username
      input(name="username" minlength='3' required placeholder="username" type="text")
      label(for="password") Password
      input(name="password" minlength='8' required placeholder='password' type="password")
      button= actionTitle
    if errors
      ul
        each error in errors
          li= error.msg
