extends layout.pug

block content
  #sidebar-container
    include sidebar.pug
  #main-content
    nav
      if currentUser
        form(method='POST' action='/log-out')
          button Log Out
      else
        a(href='/sign-up') Sign Up
        a(href='/log-in') Log In
      
    h1.home_page_header Home Page
    ul
      li Category Count: !{categories.length}
      li Note Count: !{note_count}
