extends layout.pug

block content
  #sidebar-container
    include sidebar.pug
  #main-content
    h1= 'Home Page'
    ul
      li Category Count: !{categories.length}
      li Note Count: !{note_count}
