extends layout.pug

block content
  #sidebar-container
    include sidebar.pug
  #main-content
    nav
      if currentUser
        form(method='POST' action='/log-out')
          button Log Out
      else
        a(href='/sign-up') Sign Up
        a(href='/log-in') Log In
      
    h1.home_page_header Home
    ul
      li Category Count: !{categories.length}
      li Note Count: !{note_count}
    img.home_image(src='https://res.cloudinary.com/du3oueesv/image/upload/v1685193128/undraw_best_place_re_lne9_xzfjdx.svg')