extends layout

block content 

  #sidebar-container
    include sidebar.pug
  #main-content
    div.note-card-container
        each note in notes
          a(href=selectedCategoryId+'/note/'+note._id)
            div.note-card
                h2.note-title #{note.title}
                p.note-details #{note.details}
    a.createBtn(href=selectedCategoryId+'/create') Create Note
  script.
    const createBtn = document.querySelector('.createBtn');
    const notesContainer = document.querySelector('.note-card-container');
    const notesCount = notesContainer.childElementCount;
    if(notesCount<3){
      createBtn.classList.add('fixed_position');
    }else{
      createBtn.classList.remove('fixed_position');
    }