extends layout

block css
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/noteDetail.css")  
block script
  <script src="https://kit.fontawesome.com/53348e0e14.js" crossorigin="anonymous"></script>

block content

  #sidebar-container
    include sidebar.pug
  #main-content
    div.note_detail_header
      h1= title
      div.action_icons
        a(href=note._id+"/update") 
          <i class="fa-solid fa-pen-to-square fa-spin"></i>
        form(method='POST' action=note._id+'/delete')
          button(type='submit')
           <i class="fa-solid fa-trash"></i>
    hr
    article #{note.details}