nav#sidebar
  ul
    li(class=(selectedCategory==='Home'?'active':''))
      a(href='/') Home
    each category in categories
      li(class=(selectedCategory === category.name ? "active" : ""))
        a(href=`/category/${category._id}`) #{category.name}
